In [15]:
#Importing the modules required for this program
import csv
import pandas as pd
import numpy as np

In [16]:
#Importing the CSV file
data = pd.read_csv('/Users/bhanuchanderkureti/Bhanu/ITMD_513/Assignments/Pandas/titanic.csv')
df = pd.DataFrame(data)

In [17]:
#List columns and rows of data frame
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [92]:
#Total number of passengers
print("Total number of passengers:\n" + str(df.PassengerId.count()))

Total number of passengers:
891

In [93]:
# male and female passengers count 
print("Total number of male and female passengers:\n" + str(df['Sex'].value_counts()))

Total number of male and female passengers:
male      577
female    314
Name: Sex, dtype: int64

In [91]:
#Average age of all populations
print("Average age of passengers:\n" + str(df.Age.mean()))

Average age of passengers:
29.69911764705882

In [94]:
# Number of Passengers under Age 21
child = df[df.Age < 21.00]
print("The Number of Passengers less than age 21 :\n" + str(len(child)))

The Number of Passengers less than age 21 :
180

In [95]:
# Assuming If Survive = 1 as survived and Survived = 0 as Un Survived

print("Sum of Survived: "+ str(sum(df["Survived"]==0))) # Number of Survived
print("Sum of UnSurvived: "+ str(sum(df["Survived"]==1))) # Number of UnSurvived
print("Sum of males Survived: "+ str(sum((df["Survived"]==1) & (df["Sex"]=='male')))) # Number of male's Survived
print("Sum of females Survived: "+ str(sum((df["Survived"]==1) & (df["Sex"]=='female')))) # Number of female's Survived
print("Sum of males unSurvived: "+ str(sum((df["Survived"]==0) & (df["Sex"]=='male')))) # Number of male's UnSurvived
print("Sum of females UnSurvived: "+ str(sum((df["Survived"]==0) & (df["Sex"]=='female')))) # Number of female's UnSurvived

Sum of Survived: 549
Sum of UnSurvived: 342
Sum of males Survived: 109
Sum of females Survived: 233
Sum of males unSurvived: 468
Sum of females UnSurvived: 81

In [98]:
# Name and Age of Youngest Age person who is survived
df_sur = df[df["Survived"]==1]
df_sur = df_sur.loc[df_sur["Age"]==min(df_sur.Age)]
print('Youngest age to survive the Titanic mishap is :\n'+ str(df_sur.Age.to_string(index=False)) + str(df_sur["Name"].to_string(index=False)))

Youngest age to survive the Titanic mishap is :
 0.42 Thomas, Master. Assad Alexander

In [97]:
# Name and Age of Oldest Age person who is survived
df_sur = df[df["Survived"]==1]
df_sur = df_sur.loc[df_sur["Age"]==max(df_sur.Age)]
print('oldest age to survive the Titanic mishap is :\n '+ str(df_sur.Age.to_string(index=False)) + str(df_sur["Name"].to_string(index=False)))

oldest age to survive the Titanic mishap is :
  80.0 Barkworth, Mr. Algernon Henry Wilson

In [68]:
# Names of people who are survived
print('\ng) Names of all the people who survived:\n'+ str(df.loc[(df['Survived']==1), 'Name']))

g) Names of all the people who survived:
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
                             ...
875                     Najib, Miss. Adele Kiamie "Jane"
879        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880         Shelley, Mrs. William (Imanita Parrish Hall)
887                         Graham, Miss. Margaret Edith
889                                Behr, Mr. Karl Howell
Name: Name, Length: 342, dtype: object